body{
    background-color: #393E46;
}
.container{
    text-align: center;
    width: 80%;
    margin: auto;
}
.dice{
    text-align: center;
    display: inline-block;
   
}
p{
    font-size: 2rem;
    color: #4ECCA3;
    font-family: 'Indie Flower', cursive;
}
footer{
    margin-top: 5%;
    color: #EEEEEE;
    font-family: 'Indie Flower', cursive;
    text-align: center;
}
h1 {
margin: 30px;
font-family: 'Lobster', cursive;
text-shadow: 5px 0 #232931;
color: #4ECCA3;
font-size: 8rem;
}
img{
    width: 80%;
}